<h1>Stall Home</h1>

<h2>Hello, {{ user_name }}!</h2>

<a href="{% url 'stalls:edit_profile' %}">Edit Profile</a>
<a href="{% url 'stalls:add' %}">Add New Record</a>
<a href="{% url 'stalls:logout' %}">Log Out</a>

<hr>

<!-- ================= ADD STALL FORM ================= -->
<h2>Add New Stall</h2>

<form method="POST">
    {% csrf_token %}

    <label>Stall Number:</label><br>
    <input type="text" name="stall_number" required><br><br>


    <label>Monthly Rent:</label><br>
    <input type="number" name="monthly_rent" step="0.01"><br><br>



    <button type="submit">Save Stall</button>
</form>

<hr>


<h2>Active Stalls</h2>

{% for stall in stalls %}
    <div style="margin-bottom: 15px; padding: 10px; border: 1px solid #ccc;">

        <b>Stall:</b> {{ stall.stall_number }} <br>

        <b>Status:</b> {{ stall.status }}

    </div>
{% empty %}
    <p>No stalls added yet.</p>
{% endfor %}